* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Catamaran;
  src: url(/src/fonts/catamaran/Catamaran-Regular.ttf);
}

body {
  font-family: Catamaran;
}

#comp-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1111111;
  background-color: #fff;
}

.custom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
}

.left-nav ul li {
  padding: 0 22px;
}

.shop-link,
.page-link-custom,
.element-link {
  color: #080808;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.shop-link:hover,
.page-link-custom:hover,
.element-link:hover {
  color: #929292;
}

.left-nav ul li .home-link {
  color: #929292;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.home,
.shop,
.page,
.element {
  height: 110px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 1s;
}

.home:hover .home-dropdown {
  display: block;
}

/* .home:hover::after {
  height: 3rem;
}

.home-dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -30px;
  background-color: #111;
  height: 0;
} */

.home-dropdown {
  z-index: 1111;
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  width: 12.3rem;
  vertical-align: middle;
  background-color: #111;
  padding: 30px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  /* transition: all 1s ease-in;
  height: 0;
  overflow: hidden; */
}

.home-dropdown a {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  color: #929292;
  font-weight: 100;
  transition: 0.5s;
}

.hide {
  display: none;
  transition: 0.5s;
}

.home-dropdown a:hover .hide {
  display: inline-block;
  color: #fff;
}

.home-dropdown a:hover {
  color: #fff;
}

.mainHome {
  color: #fff !important;
}

.shop-dropdown {
  z-index: 1111;
  display: none;
  background-color: #111;
  padding: 40px 40px 40px 40px;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  top: 100%;
  left: -290%;
  width: 80rem;
}

.shop:hover .shop-dropdown {
  display: flex;
}

.shop-dropdown h3,
.element-dropdown h3 {
  color: #fff;
  font-size: 12px;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.shop-types a,
.product-types a,
.featured a,
.layouts a,
.shop-shortcodes a,
.classic a,
.infographic a,
.presentation a {
  color: #a5a5a5;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.shop-types a:hover .hide,
.product-types a:hover .hide,
.featured a:hover .hide,
.layouts a:hover .hide {
  display: inline-block;
  color: #fff;
}

.shop-types a:hover,
.product-types a:hover,
.featured a:hover,
.layouts a:hover {
  color: #fff;
}

.page-dropdown {
  z-index: 1111;
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  width: 12.3rem;
  vertical-align: middle;
  background-color: #111;
  padding: 30px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.page-dropdown a {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  color: #929292;
  font-weight: 100;
  transition: 0.5s;
}

.page-dropdown a:hover .hide {
  display: inline-block;
  color: #fff;
}

.page-dropdown a:hover {
  color: #fff;
}

.page:hover .page-dropdown {
  display: block;
}

.element:hover .element-dropdown {
  display: flex;
}

.element-dropdown {
  z-index: 1111;
  display: none;
  background-color: #111;
  padding: 40px 40px;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  top: 100%;
  left: -386%;
  width: 80rem;
}

.shop-shortcodes,
.classic,
.infographic,
.presentation,
.shop-types,
.product-types,
.featured,
.layouts {
  width: 24%;
}

.element-dropdown a:hover .hide {
  display: inline-block;
  color: #fff;
}

.element-dropdown a:hover {
  color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
}

.img-div {
  width: 50%;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart,
.favorite,
.login,
.search,
.welcome {
  padding: 0 13px;
}

.cart .cart-link,
.favorite a,
.login a,
.search a,
.welcome a {
  color: #080808;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.cart-link .cart-price,
.favorite-count {
  color: #929292;
  letter-spacing: 0;
  font-weight: 400;
}

.right-nav i {
  font-size: 14px;
}

.cart:hover .cart-link,
.favorite:hover .favorite-link,
.login:hover .login-link,
.search:hover .search-link,
.welcome:hover .welcome-link {
  color: #929292;
}

.cart-link:empty .cart-price {
  display: none;
}

/* FORM */

.form-container {
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  background-color: #fff;
  padding: 10px 40px 30px 40px;
  border: 1px solid rgba(121, 119, 119, 0.2);
}

.form-container.show {
  display: block;
}

.form-close {
  position: absolute;
  top: -18px;
  right: -15px;
  font-size: 22px;
  color: #080808;
  opacity: 0.7;
  cursor: pointer;
}

.inp-name {
  padding: 10px 20px;
  border: solid 1px #d4d2d2;
  margin-bottom: 10px;
  display: block;
}

::placeholder {
  color: #929292;
  font-size: 13px;
}

.inp-pass {
  padding: 10px 20px;
  border: solid 1px #d4d2d2;
  margin-bottom: 10px;
  display: block;
}

.form-check-label {
  color: #929292 !important;
  font-size: 13px;
}

.lostPassword {
  color: #929292;
  font-size: 13px;
}

.lostPassword:hover {
  color: #080808;
}

.login-btn {
  display: block;
  margin-top: 30px;
  margin-top: 15px;
  background-color: #080808;
  color: #fff;
  font-size: 12px;
  padding: 20px 82px;
  letter-spacing: 3px;
  text-align: center;
}

.login-btn:hover {
  color: #fff;
}

.show {
  display: block !important;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-heading {
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.tab-heading:hover {
  color: #929292;
}

.content-head {
  display: none;
}

.policy-text {
  font-size: 13px;
  color: #929292;
}

.policy {
  color: #080808;
  font-size: 13px;
}

.register-btn {
  display: block;
  margin-top: 30px;
  margin-top: 15px;
  background-color: #080808;
  color: #fff;
  font-size: 12px;
  padding: 20px 70px;
  letter-spacing: 3px;
  text-align: center;
}

.register-btn:hover {
  color: #fff;
}

/* SEARCH */

.search {
  position: relative;
}

.search-inp {
  display: none;
  position: absolute;
  top: 67px;
  left: -270px;
  padding: 10px 20px;
  background-color: #080808;
  width: 20rem;
  height: 60px;
}

.search-inp.show {
  display: block;
}

.search-inp input {
  border: 0;
  height: 100%;
  width: 90%;
  background-color: inherit;
}

.search input::placeholder {
  color: #929292;
}

.arrow-icon {
  color: #929292;
}

/* WELCOME PAGE */

#welcome-page {
  display: none;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40%;
  z-index: 111111111;
  padding: 20px;
  transition: 0.5s;
}

#welcome-page.show {
  display: block;
}

.welcome-close-icon {
  position: absolute;
  right: 40px;
  top: 40px;
  color: #929292;
  font-size: 20px;
  cursor: pointer;
}

.welcome-content {
  padding: 60px 20px 0 20px;
  text-align: center;
}

.welcome-content h6,
.welcome-footer h6 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.welcome-content p {
  color: #929292;
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
}

.welcome-imgs {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 79px;
}

.welcome-img {
  width: 92px;
  height: 92px;
  margin: 5px;
}

.welcome-footer {
  text-align: center;
  margin-top: 120px;
}

.welcome-footer-icons a i {
  color: #fff;
  margin-right: 15px;
}

.welcome-footer-icons {
  margin-top: 30px;
}

/* SLIDER SECTION */

.carousel-item {
  background-color: #f3f3f3;
  height: 35rem;
  position: relative;
}

.first-slide {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 60px 100px;
}

.slider-img {
  width: auto;
  max-height: 100%;
  object-fit: cover;
}

.first-slide h3 {
  color: #080808;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
}

.first-slide p {
  color: #929292;
}

/* ITEMS SECTION */

#items {
  padding: 80px 0;
}

.items-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.items-category a {
  margin-right: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 13px;
  color: #929292;
}

.allCategory {
  margin-left: 10px;
}

.items-category a.active {
  color: #080808 !important;
}

.items-category a:hover {
  color: #080808;
}

.items-main {
  margin-top: 30px;
}

.item {
  padding: 10px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.item-content {
  text-align: center;
  margin-top: 15px;
}

.item-content .item-name {
  color: #080808;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.item-content .item-price {
  color: #929292;
  font-size: 14px;
  margin-bottom: 0;
  transition: 0.5s;
}

.addToCart {
  color: #929292;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  display: none;
  transition: 0.5s;
}

.addToCart:hover {
  color: #080808;
}

.item:hover .addToCart {
  display: block;
}

.item:hover .item-price {
  display: none;
}

/* ITEMS INFO */

#items-info {
  position: relative;
}

.info-container {
  width: 70%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111111111;
  padding: 40px;
}

.info-close {
  position: absolute !important;
  color: #929292;
  right: 60px;
  top: 60px;
  font-size: 22px;
}

.info-right {
  background-color: #ffffff;
  padding: 30px;
}

.right-top-info h3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #080808;
  text-transform: uppercase;
  font-weight: 600;
}

.right-top-info h2 {
  font-size: 24px;
  color: #080808;
  font-weight: 300;
}

.right-middle-info {
  padding: 30px 0;
}

.info p {
  font-size: 16px;
  color: #929292;
}

/* FOOTER */

.footer-main {
  border-top: 1px solid rgba(206, 206, 206, 0.2);
  padding: 80px 80px;
}

.customer-service,
.company,
.social-media,
.profile {
  width: 24%;
}

.service-links a {
  display: block;
  margin-bottom: 8px;
  color: #929292;
  font-size: 14px;
}

.service-heading {
  color: #080808;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.service-links a:hover .hide {
  display: inline-block;
  color: #929292;
}

.rights {
  border-top: 1px solid rgba(206, 206, 206, 0.2);
  padding: 20px;
}

.rights-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reserved p {
  color: #929292;
  font-size: 12px;
  margin-bottom: 0;
}

.follow span,
.follow a i {
  font-size: 12px;
  color: #000000;
  margin-right: 10px;
}

/* PHONE */

#phone-header {
  padding: 4% 2%;
}

#phone-header h2 {
  color: #080808;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.items-phone {
  padding: 10px;
}

.phone-categories {
  color: #080808;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.category-dropdown {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.category-dropdown a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  color: #929292;
  margin-bottom: 10px;
  margin-left: 0;
}

.category-dropdown.visible {
  display: flex;
}

/* RESPONSIVE */

@media (max-width: 576px) {
  #comp-header {
    display: none;
  }
  #phone-header {
    display: block;
  }
  .carousel-item {
    height: 20rem;
  }
  .first-slide {
    padding: 10px 20px;
  }
  .items-category {
    display: none;
  }
  .items-phone {
    display: block;
  }

  .customer-service,
  .company,
  .social-media,
  .profile {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-main {
    padding: 20px 20px;
  }

  .rights-main {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #comp-header {
    display: none;
  }
  #phone-header {
    display: block;
  }
  .carousel-item {
    height: 20rem;
  }
  .first-slide {
    padding: 10px 30px;
  }
  .items-category {
    display: none;
  }
  .items-phone {
    display: block;
  }
  .customer-service,
  .company,
  .social-media,
  .profile {
    width: 50%;
    margin-bottom: 25px;
  }
  .footer-main {
    padding: 20px 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #comp-header {
    display: none;
  }
  #phone-header {
    display: block;
  }
  .carousel-item {
    height: 25rem;
  }
  .first-slide {
    padding: 30px 50px;
  }
  .items-phone {
    display: none;
  }
  .customer-service,
  .company,
  .social-media,
  .profile {
    width: 50%;
    margin-bottom: 25px;
  }
  .footer-main {
    padding: 40px 40px;
  }
}

@media (min-width: 992px) and (max-width: 1140px) {
  #comp-header {
    display: block;
  }
  #phone-header {
    display: none;
  }
  .carousel-item {
    height: 35rem;
  }
  .first-slide {
    padding: 60px 100px;
  }
  .items-phone {
    display: none;
  }
}

@media (min-width: 1140px) {
  #comp-header {
    display: block;
  }
  #phone-header {
    display: none;
  }
  .carousel-item {
    height: 35rem;
  }
  .first-slide {
    padding: 60px 100px;
  }

  .items-phone {
    display: none;
  }
}
